/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.page-content {
  background: #fafcfb;
  padding: 15px 0 15px;
}

.page-header .page-header-top .page-logo .logo-default {
  margin: 14px 0 0 0;
}
.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
  font-size: 15px;
  font-weight: normal;
  padding: 16px 18px 15px 18px;
}

.page-header .page-header-menu {
	background: #030f6b;
}

.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #fff;
}
.page-header .page-header-menu .hor-menu .navbar-nav > li.open > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover {
  color: #ffffff;
  background: #1d2880 !important;
}
.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-submenu>a:after {
	 color: #1d2880; 
}
.page-header .page-header-top .page-header-title {
	padding: 10px 0px !important;
}
.page-head .page-title {
	display: block;
	float: inherit;
	padding: 20px;
}
.page-header .page-header-top .top-menu {
  margin: 10px 0 0;
  padding: 0;
  float: right;
}

.page-prefooter {
    background: #030f6b;
    color: #fafcfb;
}

.page-prefooter h2 {
  color: #ffffff;
}

.page-prefooter a {
	color: #ffffff;
}

.page-prefooter .subscribe-form .form-control {
	background: #fff;
	border-color: #ffc107;
	color: #a2abb7;
}

.page-prefooter .subscribe-form .btn {
	color: #fff;
	background-color: #ffc107;
	
}

.page-footer {
  background:#070c38;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 17px 0;
}


.mix a.mix-tot {
    color: #eee;
    display: block;
    cursor: pointer;
    margin-top: 25%;
    /* position: absolute; */
   
    /* background: #16b2f4; */
}
/*.page-footer {

  font-size: 12px;
  font-weight: 300;
  padding: 17px 0;
  position:relative;
 
  width:100%;
  min-height:100%;
}
/*.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu {
	background: #416db4;
	border: 0;
}
/* .page-header-mobile {
	padding: 10px 0px !important;
	display: none;
	float: left;
} */


.pricing-head h3 {
	background: #416db4;
	border-bottom: solid 1px#416db4;
}

.pricing:hover {
	border: 3px solid #416db4;
}

.pricing:hover h4 {
	color: #416db4;
}

.pricing-head h4 {
	color: #666;
}

.breadcrumb {
	padding: 5px 0 15px 0 !important;
}

.form-horizontal .form-group {
	margin-right: 2px !important;
	margin-left: 2px !important;
}

@media (max-width: 768px) {
	.navbar-nav {
		float: none !important;
	}

	.page-header-title {
		display: none !important;
		margin: 11px 0 0 !important;
	}

	.form-horizontal .form-group {
		margin-right: 2px !important;
		margin-left: 2px !important;
	}

	.navbar-main-collapse {
		padding: 0px !important;
	}

	/* .page-header-mobile {
		padding: 10px 0px !important;
		display: block !important;
		float: left;
	} */
}

.btn-primary {
  color: #fff;
  background-color: #030f6b;
  border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #1e2c96;
  border-color: #2a6496;
}
.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #030f6b;
  border-color: #2a6496;
}
.btn-primary:active, .btn-primary.active {
  background-image: none;
  background-color: #2d6ca2;
}
.btn-primary:active:hover, .btn-primary.active:hover {
  background-color: #3071a9;
}
.open .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

